body {
    background-color: black;
    text-align: center;
}

.header--main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.link--cta{
    color:aquamarine;
    font-size: 16px;
}